<div class="desniBar" id="obicnaDesnaTraka">
    @*<ul>  @*class="nav navbar-nav">*@
    <table>
        @if(TempData.ContainsKey("BocnaDugmad"))
        {
            foreach(var dugme in TempData["BocnaDugmad"] as List<Online_Stamparija.Models.MenuItems.MetroItem>)
            {
                if(Online_Stamparija.Models.LogovaniKorisnik.Instanca.Pozicija <= (int)dugme.MinimumAllowedPosition)
                {
                    @*<li>*@
                    <tr>
                        <td>
                            <div class="metroButton">
                                <a href="@dugme.LinkUrl" class="right">
                                    <table>
                                        <tr>
                                            <td>
                                                <img src="@dugme.ImageUrl" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span>@dugme.Title</span>
                                            </td>
                                        </tr>
                                    </table>
                                </a>
                            </div>
                        </td>
                    </tr>
                    @*</li>*@
                }
            }
            <tr><td><hr class="hidden-sm hidden-md hidden-lg" /></td></tr>
        }
        @foreach(var dugme in Online_Stamparija.StandardniUiElementi.glavnaDugmad)
        {
            if(Online_Stamparija.Models.LogovaniKorisnik.Instanca.Pozicija <= (int)dugme.MinimumAllowedPosition)
            {
                <tr>
                    <td>
                        <div class="metroButton hidden-sm hidden-md hidden-lg">
                            <a href="@dugme.LinkUrl" class="right">
                                <table>
                                    <tr>
                                        <td>
                                            @if(dugme.Upozorenje)
                                            {

                                                <div style='background-color:red'>
                                                    <img src="@dugme.ImageUrl" />
                                                </div>
                                            }
                                            else
                                            {
                                                <img src="@dugme.ImageUrl" />
                                            }
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @if(dugme.Upozorenje)
                                            {

                                                <div style='background-color:red'>
                                                    <span>@dugme.Title</span>
                                                </div>
                                            }
                                            else
                                            {
                                                <span>@dugme.Title</span>
                                            }
                                        </td>
                                    </tr>
                                </table>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        }
    </table>
</div>