<div class="desniBar" id="obicnaDesnaTraka">
    @*<ul>  @*class="nav navbar-nav">*@
    <table>
        @foreach(var dugme in Online_Stamparija.StandardniUiElementi.glavnaDugmad)
        {
            if(Online_Stamparija.Models.LogovaniKorisnik.Instanca.Pozicija <= (int)dugme.MinimumAllowedPosition)
            {
                @*<li>*@
                <tr>
                    <td>
                        <div class="metroButton hidden-sm hidden-md hidden-lg">
                            <a href="@dugme.LinkUrl" class="right">
                                <table>
                                    <tr>
                                        <td>
                                            <img src="@dugme.ImageUrl" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span>@dugme.Title</span>
                                        </td>
                                    </tr>
                                </table>
                            </a>
                        </div>
                    </td>
                </tr>
                @*</li>*@
            }
        }
        @if(TempData.ContainsKey("BocnaDugmad"))
        {
            foreach(var dugme in TempData["BocnaDugmad"] as List<Online_Stamparija.Models.MenuItems.MetroItem>)
            {
                if(Online_Stamparija.Models.LogovaniKorisnik.Instanca.Pozicija <= (int)dugme.MinimumAllowedPosition)
                {
                    @*<li>*@
                    <tr>
                        <td>
                            <div class="metrobutton">
                                <a href="@dugme.LinkUrl" class="right">
                                    <table>
                                        <tr>
                                            <td>
                                                <img src="@dugme.ImageUrl" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span>@dugme.Title</span>
                                            </td>
                                        </tr>
                                    </table>
                                </a>
                            </div>
                        </td>
                    </tr>
                    @*</li>*@
                }
            }
        }
    </table>
    @*</ul>*@
</div>
<div style="position:fixed; bottom:0; align-self:center; margin-bottom:35px">
    <img id="optionsH" src="~/Images/options.H.B.png" class="" />
    <img id="optionsV" src="~/Images/options.V.B.png" style="visibility:collapse" />
</div>