<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Online Stamparija</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Content/funcije.js"></script>
</head>
<body>
    <div id="zamagljenaPozadina" style="width:100%; height:100%; background-color: rgba(128, 128, 128, 0.7); display:none; position:fixed; left:0px; top:0px; z-index: 10;" onclick="javascript: Odmagli()">
        <div id="sadrzajZamagljenePozadine" style="width:50%; height:70%; background-color:white; display:block; position:fixed; margin-left:25%; margin-top:10%; padding:25px; overflow-y:auto;" onclick="if (event.stopPropagation) { event.stopPropagation(); } event.cancelBubble = true;">
            
        </div>
    </div>
    @Html.Partial("Trake/Vrh")
    <div class="container">
        <div class="row">
            @if(Online_Stamparija.Models.LogovaniKorisnik.Instanca.Logovan)
            {
                <div class="col-xs-10" id="bodyDiv">
                    @RenderBody()
                    <hr />
                    <footer>
                        <p>&copy; @DateTime.Now.Year - Online Stamparija</p>
                    </footer>
                </div>
                <div class="col-xs-2">
                    @Html.Partial("Trake/Bok")
                </div>
            }
            else
            {
                <div class="col-xs-12">
                    @RenderBody()
                    <hr />
                    <footer>
                        <p>&copy; @DateTime.Now.Year - Online Stamparija</p>
                    </footer>
                </div>
            }
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required : false)

</body>
</html>
