@model Online_Stamparija.Models.Korisnik


@*@using (Html.BeginForm("Login"))*@
<form action="~/Account/Login" method="get">
    @Html.AntiForgeryToken()

    @*<div class="form-horizontal">*@
    <table>
        <tr>
            <td>
                <div class="nav navbar-nav">
                    @Html.LabelFor(model => model.UserName, htmlAttributes : new { @class = "control-label col-md-2" })
                </div>
            </td>
            <td>
                <<div class="nav navbar-nav">
                    @Html.LabelFor(model => model.Password, htmlAttributes : new { @class = "control-label col-md-2" })
                </div>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                <div class="form-group">
                    <div class="col-md-10">
                        @*@Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })*@
                        <input type="text" name="UserName" /><br />
                        @Html.ValidationMessageFor(model => model.UserName, "Korisničko ime mora biti obezbjeđeno.", new { @class = "text-danger" })>
                    </div>
                </div>
            </td>
            <td>
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.PasswordFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })<br />
                        @Html.ValidationMessageFor(model => model.Password, "Lozinka mora biti unesena!", new { @class = "text-danger" })
                    </div>
                </div>
            </td>
            <td>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Login" class="btn btn-default" />
                    </div>
                </div>
            </td>
        </tr>
    </table>
    @*</div>*@
</form>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
