@model Online_Stamparija.Models.Posao


<style type="text/css">
</style>

<div class="okvir header">

    <h4 class="header" id="naslov">
        @Html.DisplayFor(model => model.Naziv)
    </h4>
    <span style="position:absolute; right:0px; top:0px">
        @Html.DisplayFor(model => model.Status)
    </span>
    <hr />

    <table class="footer floatRight">
        <tr>
            <td class="sirokaKolona">
                <a href="@Url.Action("Edit", new { id = Model.ID })">
                    <img src="/Images/olovka.png" alt="olovka" class="iconButton" />
                    <span>Uredi</span>
                </a>
            </td>
            <td class="sirokaKolona">
                <a href="@Url.Action("Delete", new { id = Model.ID })">
                    <img src="~/Images/appbar.delete.png" alt="at" class="iconButton" />
                    <span>Obriši</span>
                </a>
            </td>
            <td class="sirokaKolona">
                <a href="@Url.Action("Details", new { id = Model.ID })">
                    <img src="~/Images/about.C.png" alt="at" class="iconButton" />
                    <span>Detalji</span>
                </a>
            </td>
            @if(Model.Status == 0)
            {
                <td class="sirokaKolona">
                    <a href="javascript:PreuzmiPosao(@Model.ID, @Online_Stamparija.Models.LogovaniKorisnik.Instanca.ID)">
                        <img src="~/Images/appbar.control.play.png" alt="at" class="iconButton" />
                        <span>Preuzmi</span>
                    </a>
                </td>
            }
            else if(Model.Status == 1)
            {
                <td class="sirokaKolona">
                    <a href="javascript:ZavrsiPosao(@Model.ID, @Online_Stamparija.Models.LogovaniKorisnik.Instanca.ID)">
                        <img src="~/Images/appbar.control.stop.png" alt="at" class="iconButton" />
                        <span>Zavrsi</span>
                    </a>
                </td>
            }
            <td></td>
        </tr>
    </table>
</div>
